{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "document": false
  }
}
